h1{
  text-align: center;
}
.selectDiv{
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 90px;
}
.card{
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

